.counters {
  width: 60%;
  margin: auto;
  padding: 30px;
}
.Navbar {
  width: 50%;
  height: 50%;
  text-align: center;
  margin: auto;
}
.Navbar span {
  margin: auto;
}
.counters button {
  margin-left: 35%;
}
